.card {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem 0;
    border: black 1px solid;
    border-radius: 5px;
    box-shadow: -4px 4px black;

    p {
        margin-right: 20px;
    }
}