footer {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF82B0;

    p {
       font-size: 0.8rem;

       a {
           text-decoration: none;
           color: black;
           position: relative;
           &::after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: black;
            transform-origin: center;
            transition: transform 0.25s ease-out;
        }
            &:hover::after,
            &:focus::after {
                transform: scaleX(1);
                transform-origin: center;
            }
        }
    }
}
