header {
    min-height: 20%;
    margin-top: 50px;

    h1,
    p {
        margin: 10px 0;
        text-align: center;
    }

    h1 {
        text-transform: uppercase;
        font-size: 3.5rem;
    }

    p:nth-child(2) {
        font-size: 0.9rem;
    }

    p:nth-child(3) {
        font-size: 1.1rem;
    }

}