header {
    height: 30vh;

    h1,
    p {
        margin: 10px 0;
    }

    h1 {
        text-transform: uppercase;
        text-align: center;
        font-size: 3.5rem;
    }

    p:nth-child(2) {
        text-align: center;
        font-size: 0.9rem;
    }

    p:nth-child(3) {
        font-size: 1.1rem;
    }

}