.loadingAnimation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(246, 233, 199);
    z-index: 20;

    .loadingBar{
        position: relative;
        height: 10px;
        width: 40%;
        border: 10px solid #f4a261;
        border-radius: 15px;
        margin: 100px auto;
    
        .loadingProgress {
            position: absolute;
            top: -4.5px;
            left: 1px;
            background-color: #ffffff;
            width: 0px;
            height: 10px;
            border-radius: 15px;
            animation: progress 2000ms infinite linear;    
        }
        .loadingText {
            text-align: center;
            margin-top: 20px;
        }
    }
}

@keyframes progress{
    0%{
      width: 0%;
    }
    25%{
        width: 50%;
    }
    50%{
        width: 75%;
    }
    75%{
        width: 85%;
    }
    100%{
        width: 100%;
    }
};