@media (max-width: 900px) {
    header {
        p:nth-child(3) {
            font-size: 1rem;
        }
    }
}

@media (max-width: 700px) {
    header {

        h1 {
            font-size: 3rem;
        }
    }
}

@media (max-width: 500px) {
    .userInput {
        h2 {
            font-size: 2.5rem;
        }
    }

    form {
        input {
            width: 100%;
            margin-right: 0;
        }
        button {
            width: 100%;
            margin: 10px 0;
        }
    }

    .errorPopup {
        .modal {
            height: 200px
        }
    }

    #popup-2 {

        .modal {
            height: 300px;
            .actions {
                flex-direction: column;
                
                button {
                    margin: 10px 0;
                }
            }
        }
    }
}