@import url("https://fonts.googleapis.com/css2?family=Maitree&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  padding: 0;
  margin: 0;
  font-size: 125%;
}

h1,
h2,
p {
  padding: 0;
  margin: 0;
}

.wrapper {
  max-width: 1440px;
  width: 80%;
  margin: 0 auto;
}

h1,
h2 {
  font-family: "VT323", monospace;
}

p,
button,
a,
label,
input {
  font-family: "Montserrat", sans-serif;
}

header {
  height: 30%;
}
header h1,
header p {
  margin: 10px 0;
}
header h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 3.5rem;
}
header p:nth-child(2) {
  text-align: center;
  font-size: 0.9rem;
}
header p:nth-child(3) {
  font-size: 1.1rem;
}

.form {
  background-color: rgb(112, 223, 191);
}

form {
  width: 100%;
  height: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  text-align: center;
}
form label {
  width: 100%;
  margin: 10px 0;
  font-size: 1.5rem;
}
form input {
  width: 70%;
  font-size: 1rem;
  border: black 1px solid;
  border-radius: 3px;
  -webkit-box-shadow: -1.5px 1.5px black;
          box-shadow: -1.5px 1.5px black;
  margin-right: 10px;
  padding: 5px;
}
form .searchBar {
  background-color: rgb(205, 244, 233);
}

.results {
  width: 100%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.results a {
  text-align: center;
}
.results .showResults {
  background-color: rgb(245, 161, 146);
  text-transform: capitalize;
  letter-spacing: 0.5px;
  word-spacing: 3px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button {
  border: 1px solid black;
  border-radius: 3px;
  padding: 6px;
}

.saveButton {
  background-color: rgb(244, 193, 184);
  font-size: 1.5rem;
  height: 50px;
  width: 50px;
}

.removeButton {
  height: 35px;
  width: 35px;
  font-size: 1rem;
}

.savedBackronym {
  background-color: rgb(226, 204, 247);
  text-transform: capitalize;
}
.savedBackronym :first-child {
  text-transform: uppercase;
}

.App {
  height: 100vh;
}

body {
  background-color: rgb(246, 233, 199);
}

main {
  height: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.userInput h2 {
  text-transform: uppercase;
  text-align: center;
  margin: 10px 0;
  font-size: 2.75rem;
}
.userInput p {
  margin: 10px 0;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  margin: 1rem 0;
  border: black 1px solid;
  border-radius: 5px;
  -webkit-box-shadow: -4px 4px black;
          box-shadow: -4px 4px black;
}
.card p {
  margin-right: 20px;
}

.form {
  background-color: rgb(112, 223, 191);
}

footer {
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}